.banner-section{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
}
div .socialicons{
    text-align: left; /* For Edge */
  -moz-text-align-last: left; /* For Firefox prior 58.0 */
  text-align-last: left;
}
.servicehead{
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
}
.services{
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
}
.bgblue{
background-color: blue;
color: white;
}
.bannerhead{
  font-weight: bold;
  color:black;
}
/* span .textcolor{
  color: blue;
} */
.searchnav{
  color:black;
  
}
.menulist{
  color: black;
  padding-top: 10px;
}
.searchbtn{
  color: black;
}
.fb .tw .ln {
  padding:20px;
  font-size: 24px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

.fa-facebook {
  background: #FFFFFF;
  color: #000000;
}
/* heading bold font 16 */
.heading-bold{
  /* font-size: 20px; */
  font-weight: bold;
}
.familycol{
  text-align: justify;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
}
.fa-twitter {
  background: #FFFFFF;
  color: #000000;
}
.fa-linkedin {
  background: #FFFFFF;
  color: #000000;
}
.servicesrow {
  display:table;
}
.bold{
  font-weight: bold;
}
.servicecolumn {
  float:none;
  display:table-cell;
  
}
.requestbutton{
  background-color:white;
  border-style:solid;
  border-color: blue;
  color:blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
}
.learnmore{
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.roundbutton {
  background-color:white;
  border-style:solid;
  border-color: blue;
  color:blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  padding: 30px;
}
.roundbuttonblue {
  background-color:blue;
  /* border-style:solid;
  border-color: blue; */
  color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  padding: 30px;
}
.fit-image{
  width: 100%;
  object-fit: fill;
  height: 500px;
  }

  .contactrow{
    padding:5%;
    text-align: center;
  }
.emailrow{
  padding-bottom: 5%;
  text-align: center;
}
.footer-content{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
